.avatar {
  max-height: 30px;
  border-radius: 15px;
  width: auto;
  vertical-align: middle;
}

.room-nav-link {
  border: 1px solid lighten(rgb(168, 168, 247), 40%);
  background: rgb(168, 168, 247);
  color: #fff;
  & + .room-nav-link {
    border-top: 0 none;
  }
}

.chat {
  border: 1px solid lighten(#ff0000, 40%);
  background: #ff0000, 50%;
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  .chat-message-container {
    padding: 5px;
  
    .avatar {
      margin: 5px;
    }
  
    .message-content {
      padding: 5px;
      border: 1px solid rgb(168, 168, 247);
      border-radius: 5px;
      background: rgb(168, 168, 247);
      color: #fff;
    }
  
    & + .chat-message-container {
      margin-top: 10px;
    }
  }
  
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}
